<div class="row">
	<div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
		<div class="chk-block">
			<div class="chk-block-title">
				<h3 class="text-capitalize">{{title}}</h3>
			</div>
			<div class="chk-block-content">
				<form [formGroup]="form" (submit)="onSubmit()">
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" placeholder="org name" [formControl]="form.controls['name']">
						<small class="chankya-block"
							*ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
							class="text-danger">
							org name.
						</small>
					</div>
					<div class="form-group">
						<label for="address1">Address 1</label>
						<input class="form-control" placeholder="address1"
							[formControl]="form.controls['address1']">
					</div>
					<div class="form-group">
						<label for="address2">Address 2</label>
						<input class="form-control" placeholder="address2"
							[formControl]="form.controls['address2']">
					</div>

					<div class="form-group">
						<label for="city">City</label>
						<input class="form-control" placeholder="city"
							[formControl]="form.controls['city']">
					</div>

					<div class="form-group">
						<label for="state">State</label>
						<input class="form-control" placeholder="state"
							[formControl]="form.controls['state']">
					</div>

					<div class="form-group">
						<label for="state">Zip/Post code</label>
						<input class="form-control" placeholder="zip"
							[formControl]="form.controls['zip']">
					</div>
					<div class="form-group">
						<label for="country">Country</label>
						<select name="country" [formControl]="form.controls['country']"
						class="form-control">
						<option *ngFor="let item of countries | keyvalue" [value]="item.key">
							 {{item.value}}
							 </option>
					   </select>
					</div>
					<div class="form-group">
						<label for="city">No licenses</label>
						<input class="form-control" placeholder="number of licenses"
							[formControl]="form.controls['nolicences']">
					</div>
					<div class="form-group">
						<label for="contact">Company Info</label>
						<angular-editor 
						[formControl]="form.controls['info']" [config]="config">
						</angular-editor>
					</div>


					<div class="pad-wrap">
						<div>
							<button class="btn btn-primary btn-lg btn-square" type="submit"
								[disabled]="!form.valid">Submit</button>
								&nbsp;
							<button  class="btn btn-white btn-lg btn-square" [routerLink]="['/org/list']">Back</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>