<!--User Manage List-->
<div class="user-manage-list">
	<div class="chk-block mb-0">
		<div class="chk-block-title px-4">
			<div class="d-block d-sm-flex justify-content-between align-items-center">
				<div class="d-flex justify-content-start align-items-center mb-sm-0 mb-3">
					<div class="mr-3">
					</div>
					<div class="form-group form-field mr-3 mb-0 text-nowrap">
					</div>
				</div>
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary" (click)="addNew()">Add User<i class="fa fa-plus ml-2"></i></button>
				</div>
			</div>
		</div>
		<div class="chk-block-content p-0">
			<div class="table-responsive">
				<table class="table table-striped table-hover" data-show-toggle="false" data-sorting="true">
					<thead>
						<tr class="text-muted font-sm">
							<th scope="col" data-sortable="true" data-sorted="true" data-direction="ASC">Company</th>
							<th scope="col" data-sortable="true">User</th>
							<th scope="col" data-sortable="true">Name</th>
							<th scope="col" data-sortable="true">Email Address</th>
							<th scope="col" data-sortable="true">Status</th>
							<th class="text-center text-nowrap" data-sortable="true" scope="col">Account Type</th>
							<th class="text-center text-nowrap" data-sortable="false" scope="col">Date Created</th>
							<th class="text-center" data-sortable="false" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let userList of userManageList;let i = index">
							<td>
								<span class="font-sm">{{userList.company}}</span>
							</td>
							<td>
								<div class="d-flex align-items-center">
									<div>
										<h6 class="mb-0">{{userList.accountName}}</h6>
										<ng-container *ngIf="userList.newStatus">
											<span class="badge badge-primary mt-1">New</span>
										</ng-container>
									</div>
								</div>
							</td>

							<td>
								<span class="font-sm">{{userList.name}}</span>
							</td>
							<td>
								<span class="font-sm">{{userList.email}}</span>
							</td>
							<td>
								<div class="d-flex">
									<span class="fa fa-circle {{userList.statusType}} mr-2"></span>
									<div>
										<div class="font-sm">{{userList.enabled?'Enabled':'Disabled'}}</div>
									</div>
								</div>
							</td>
							<td class="text-center">
								<span class="badge badge-{{userList.accountTypeColor}}">{{userList.accountType}}</span>
							</td>
							<td class="text-center font-sm">{{userList.dateCreated|date}}</td>
							<td class="text-center font-sm text-nowrap">
								<button *ngIf="!userList.enabled" class="btn btn-primary btn-square" 
								(click)="onEnabled(userList, i)">Enable</button>
								<button *ngIf="userList.enabled" class="btn btn-warning btn-square" href="javascript:void(0)"
								(click)="onDisabled(userList, i)">Disable</button>
								&nbsp;
								<a class="mr-3 text-muted" href="javascript:void(0)"
									[routerLink]="['/user/edit',userList.accountName]"><i class="fa fa-edit"
										aria-hidden="true"></i></a>
								
								<a class="mr-3 text-muted" href="javascript:void(0)" (click)="onDelete(userList, i)"><i
										class="fa fa-times" aria-hidden="true"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>