@media(max-width:560px){
    wizard-step{
        .btn.btn-primary{
            margin: 0.2rem 0;
        }

      .btn-primary{
        background-color: #22a5df;
        border: 1px solid #22a5df;
        color: white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 0px;
        padding: 10px 30px;
        margin-top: 20px;
      }

      .btn-primary:hover{
        color: #fff;
        background-color: #1b8dc1;
        border-color: #1985b6;
        transition: 0.2s;
      }
    }
}
