<div class="user-table-wrapper">
	<div class="chk-block mb-0">
		<div class="chk-block-title px-4">
			<div class="d-block d-sm-flex justify-content-between align-items-center">
				<div class="d-flex justify-content-start align-items-center mb-sm-0 mb-3">
					<div class="mr-3">
						<a class="text-muted" href="javascript:void(0)"><i class="fa fa-refresh"
								aria-hidden="true"></i></a>
					</div>
					<div class="form-group form-field mr-3 mb-0 text-nowrap">
						<select class="form-control h-auto p-cursor custom-select" (change)="changeOrg()" [(ngModel)]="org">
						<option [ngValue]="emptyrecord">Select organization</option>
						<option *ngFor="let org of records" [ngValue]="org">
							{{org.name}}
						</option>
						</select>
						<button *ngIf = "org.id!=''" class="ml-3 btn btn-info" (click)="userpermission()">User permission<i class="fa fa-plus ml-2"></i></button>
					</div>
				</div>
				<div class="d-flex justify-content-start align-items-center">
					<button [disabled] = "org.id==''" class="btn btn-primary" (click)="apply()">Apply permission<i class="fa fa-plus ml-2"></i></button>
				</div>
			</div>
		</div>
		<div class="chk-block-content p-0">
			<div class="table-responsive" *ngIf="orgPerm">
				<table class="table table-striped mb-0">
					<thead>
						<tr class="text-muted font-sm">
							<th scope="col">Workbooks</th>
							<th class="text-center" scope="col">Control</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let wb of workbooks">
							<td><i>{{wb.title}}</i></td>
							<td>
								  <label class="switch">
									<input [(ngModel)] = "tabs[org.id][wb.id]" [checked]=""  type="checkbox">
									<span class="slider"></span>
								  </label>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>