<div class="app horizontal-wrapper {{headerSkinColor}}" [dir]="layout" [class.app-dark]="dark" [class.customizer-in]="customizerIn" [class.chat-sidebar]="chatSidebar" [class.chat-window--open]="chatWindowOpen">
	<header>
		<div class="horizontal-header horizontal-header d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center">
				<div class="sidebar-logo-wrap">
					<div class="sidebar-logo d-flex">
						<div class="logo-sign">
							<img src="assets/img/icon-accencio.png" alt="">
						</div>
					</div>
				</div>
				<div class="search-bar search-w">
					<form class="search-form">
						<div class="h-100 search-i">
							<input class="form-control" type="text" placeholder="Search anything" data-toggle="modal" data-target="#search-modal" id="search-field" />
						</div>
					</form>
				</div>
			</div>
			<div class="align-items-end pr-0 d-flex horizontal-top-menu">
				<div class="d-flex align-self-center secondary-menu">
					<ul class="nav secondary-menu-list d-flex justify-content-end align-items-center" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
						<li class="d-none d-md-block fullscreen-toggle" (click)="toggleFullscreen()">
							<a href="javascript:void(0)" class="zoom-out">
                  <i class="material-icons" *ngIf="!isFullscreen">tv</i>
                  <i class="material-icons" *ngIf="isFullscreen">fullscreen_exit</i>
                  </a>
						</li>
						<li class="d-none d-md-block dropdown fav-links">
							<a href="javascript:void(0)" class="rotate-90" id="navbarD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">apps</i></a>
							<div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarD">
								<div class="dropdown-header bg-light d-flex justify-content-between"><span class="align-self-center">Quick Links</span>
								</div>
								<a class="dropdown-item pt-3" routerLink="/horizontal/dashboard/dashboard-v2" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">dashboard</i>
									</div>
									<small>{{'Dashboard 2'|translate}}</small>
								</a>
								<a class="dropdown-item pt-3" routerLink="/horizontal/chat" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">chat_bubble_outline</i>
									</div>
									<small>{{'Chat'|translate}}</small>
								</a>
								<a class="dropdown-item pt-3" routerLink="/horizontal/inbox" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">email</i>
									</div>
									<small>{{'Email'|translate}}</small>
								</a>
								<a class="dropdown-item pt-3" routerLink="/horizontal/blog/blog-grid" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">grid_on</i>
									</div>
									<small>{{'Blog Grid'|translate}}</small>
								</a>
								<a class="dropdown-item pt-3" routerLink="/horizontal/gallery/galleryV1" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">collections</i>
									</div>
									<small>{{'Gallery'|translate}}</small>
								</a>
								<a class="dropdown-item pt-3" routerLink="/horizontal/ecommerce/ecommerce-product" routerLinkActive="active-link">
									<div class="icon-area ">
										<i class="material-icons">shopping_cart</i>
									</div>
									<small>{{'Shop'|translate}}</small>
								</a>
							</div>
						</li>
						<li class="d-none d-md-block dropdown">
							<a href="javascript:void(0)" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="notifi-bell material-icons ">notifications</i> <span class="fa fa-circle fa-notify text-primary dot-note"></span></a>
							<div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMenu">
								<div class="dropdown-header bg-primary d-flex justify-content-between"><span class="align-self-center">12
                        Pending notifications</span><a href="javascript:void(0)" class="align-self-center">View
                        All</a>
								</div>
								<a class="dropdown-item  d-flex pt-3" href="javascript:void(0)">
									<div class="icon-area  align-self-start">
										<i class="fa fa-envelope-o"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'You have 16 New messages'|translate}}</span>
										<small>12 min ago</small>
									</div>
								</a>
								<a class="dropdown-item  d-flex" href="javascript:void(0)">
									<div class="icon-area align-self-start">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Server reboot scheduled'|translate}}</span>
										<small>12 min ago</small>
									</div>
								</a>
								<a class="dropdown-item  d-flex pb-3" href="javascript:void(0)">
									<div class="icon-area align-self-start">
										<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Revenue raised by 67%'|translate}}</span>
										<small>12 min ago</small>
									</div>
								</a>
							</div>
						</li>
						<li class="d-none d-md-block dropdown">
							<a href="javascript:void(0)" class="open-box" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons msg-close">mail_outline</i><i
                     class="fa fa-envelope-open-o"></i><span class="fa fa-circle fa-notify dot-note text-danger"></span></a>
							<div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMen">
								<div class="dropdown-header bg-warning d-flex justify-content-between"><span class="align-self-center">15
                        total messages</span><a href="javascript:void(0)" class="align-self-center">View All</a>
								</div>
								<a class="dropdown-item  d-flex pt-3" href="javascript:void(0)">
									<div class="icon-area  align-self-start">
										<i class="fa fa-envelope-o"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Inbox'|translate}}</span>
										<small>15 new messages</small>
									</div>
								</a>
								<a class="dropdown-item  d-flex" href="javascript:void(0)">
									<div class="icon-area  align-self-start">
										<i class="fa fa-gift" aria-hidden="true"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Promotion messages'|translate}}</span>
										<small>5 messages</small>
									</div>
								</a>
								<a class="dropdown-item  d-flex" href="javascript:void(0)">
									<div class="icon-area align-self-start">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Spam message'|translate}}</span>
										<small>12 min ago</small>
									</div>
								</a>
								<a class="dropdown-item  d-flex pb-3" href="javascript:void(0)">
									<div class="icon-area align-self-start">
										<i class="fa fa-bullhorn" aria-hidden="true"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Social Media'|translate}}</span>
										<small>34 new messages</small>
									</div>
								</a>
							</div>
						</li>
						<li class="dropdown">
							<a class="relative rounded-bg" href="javascript:void(0)" id="navbarDropdownMenuLin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="rounded-circle" src="assets/img/user-3.jpg" alt="User-image" width="43" height="43">
                     <div class="online-caret bg-primary circle"><i class="fa fa-caret-down"></i></div>
                  </a>
							<div class="dropdown-menu rounded-0 dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLin">
								<a class="dropdown-item  d-flex pt-3" routerLink="/horizontal/user-pages/user-profile" routerLinkActive="active-link">
									<div class="icon-area  align-self-start">
										<i class="fa fa-user"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'My Profile'|translate}}</span>
									</div>
								</a>
								<a class="dropdown-item  d-flex" routerLink="/horizontal/user-pages/user-contact" routerLinkActive="active-link">
									<div class="icon-area align-self-start">
										<i class="fa fa-money"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'My Contact'|translate}}</span>
									</div>
								</a>
								<a class="dropdown-item  d-flex pb-2" routerLink="/horizontal/user-pages/user-list" routerLinkActive="active-link">
									<div class="icon-area align-self-start">
										<i class="fa fa-cog"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'User List'|translate}}</span>
									</div>
								</a>
								<a class="dropdown-item  d-flex pb-2" (click)="logOut()">
									<div class="icon-area align-self-start">
										<i class="fa fa-power-off"></i>
									</div>
									<div class="icon-msg mx-2"> <span class="align-self-start d-block ">{{'Logout'|translate}}</span>
									</div>
								</a>
							</div>
						</li>
						<li class="d-none d-md-block dropdown">
							<a (click)="chatSidebarFunction()" class="zoom-out"><i class="material-icons">more_horiz</i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="d-flex horizontal-main-menu">
			<nav class="horizontal-nav">
				<ul class="horizontal-menu clearfix mb-0">
					<li class="d-inline-block">
						<a routerLink="/dashboard/dashboard-v1" class="link-item link-switch"><img class="img-fluid" src="assets/img/sidebar-layout.png"
                  alt=""></a>
					</li>
					<li class="has-child">
						<a routerLink="/horizontal/dashboard/dashboard-v1" class="link-item"><i class="icon-home icons"></i>
               {{'Home'|translate}}</a>
						<div class="mega-menu">
							<div class="row">
								<div class="col-12 col-md-3 col-lg-3 col-xl-3">
									<div class="mega-title d-flex justify-content-between">
										<h3>{{'Links'|translate}}</h3>
										<div class="text-muted">
											<i class="icon-link icons"></i>
										</div>
									</div>
									<ul>
										<li>
											<a routerLink="/horizontal/dashboard/dashboard-v1" routerLinkActive="active-link" class="link-item"><i class="icon-speedometer icons"></i>{{'DASHBOARD 1' | translate }}</a>
                              <span class="sidebar-label">New</span>
										</li>
										<li>
											<a routerLink="/horizontal/dashboard/dashboard-v2" routerLinkActive="active-link" class="link-item"><i class="icon-speedometer icons"></i>{{'DASHBOARD 2' | translate }}</a>
                              <span class="sidebar-label">New</span>
										</li>
										<li>
											<a routerLink="/horizontal/dash-widget" routerLinkActive="active-link" class="link-item"><i class="icon-game-controller icons"></i>{{'WIDGETS' | translate }}</a>
                              <span class="sidebar-label">New</span>
										</li>
										<li>
											<a routerLink="/horizontal/inbox" routerLinkActive="active-link" class="link-item"><i class="icon-drawer icons"></i>
                              {{ 'INBOX' | translate }}</a>
										</li>
										<li>
											<a routerLink="/horizontal/chat" routerLinkActive="active-link" class="link-item"><i class="icon-speech icons"></i>
                              {{ 'CHAT' | translate }}</a>
										</li>
										<li>
											<a routerLink="/horizontal/calendar" routerLinkActive="active-link" class="link-item"><i class="icon-calendar icons"></i>
                              {{ 'CALENDAR' | translate }}</a>
										</li>
									</ul>
								</div>
								<div class="col-12 col-md-3 col-lg-3 col-xl-3">
									<div class="mega-title d-flex justify-content-between">
										<h3>{{'News'|translate}}</h3>
										<div class="text-muted">
											<i class="icon-pin icons text-muted"></i>
										</div>
									</div>
									<a href="javascript:void(0)" class="mb-3"><img class="img-fluid" src="assets/img/menu-img.jpg"
                           alt="image-news"></a>
									<h3><a href="javascript:void(0)">Poster Frame Psd</a></h3>
									<a href="javascript:void(0)" class="mb-3">January 26, 2016</a>
								</div>
								<div class="col-12 col-md-3 col-lg-3 col-xl-3">
									<div class="mega-title d-flex justify-content-between">
										<h3>{{'Support'|translate}}</h3>
										<div class="text-muted">
											<i class="icon-support icons text-muted"></i>
										</div>
									</div>
									<div class="accordion-wrapper">
										<div id="accordion" role="tablist">
											<div class="right-icon-accordion">
												<div class="card">
													<div class="card-header" role="tab" id="headingOne">
														<h5 class="mb-0">
															<a class="accordion-toggle" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Our Location
                                          </a>
														</h5>
													</div>
													<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
														<div class="card-body text-muted">
															<span class="d-block"> 834 Granville Lane</span>
															<span class="d-block"> New Jersey</span>
															<span class="d-block">USA</span>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" role="tab" id="headingTwo">
														<h5 class="mb-0">
															<a class="collapsed accordion-toggle" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Contact No.
                                          </a>
														</h5>
													</div>
													<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
														<div class="card-body text-muted">
															Need more info about theme? Call us <a href="javascript:void(0)">973-426-2918</a>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" role="tab" id="headingThree">
														<h5 class="mb-0">
															<a class="collapsed accordion-toggle" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Support Request
                                          </a>
														</h5>
													</div>
													<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
														<div class="card-body text-muted">
															For theme support contact us at <a href="mailto:support@theironnetwork.org">mailto:support@theironnetwork.org</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-3 col-lg-3 col-xl-3">
									<div class="mega-title d-flex justify-content-between">
										<h3>{{'Send Message'|translate}}</h3>
										<div class="text-muted">
											<i class="icon-speech icons text-muted"></i>
										</div>
									</div>
									<form action="">
										<div class="row">
											<div class="col-xl-12">
												<div class="form-group">
													<input class="form-control rounded-0" type="text" placeholder="Name*">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<input class="form-control rounded-0" type="text" placeholder="Email Id*">
												</div>
											</div>
											<div class="col-xl-12">
												<div class="form-group">
													<textarea placeholder="Message*" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
												</div>
											</div>
											<div class="col-xl-12">
												<button type="button" class="btn btn-primary rounded-0">Send</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<li class="has-child">
						<a href="javascript:void(0)" class="link-item"><i class="icon-list icons"></i> {{ 'PAGES' | translate}}</a>
						<ul class="child-menu">
							<li>
								<a routerLink="/horizontal/inbox" routerLinkActive="active-link" class="link-item"><i class="icon-drawer icons"></i> {{ 'INBOX' | translate }}</a>
							</li>
							<li>
								<a routerLink="/horizontal/chat" routerLinkActive="active-link" class="link-item"><i class="icon-speech icons"></i> {{ 'CHAT' | translate }}</a>
							</li>
							<li>
								<a routerLink="/horizontal/calendar" routerLinkActive="active-link" class="link-item"><i class="icon-calendar icons"></i> {{ 'CALENDAR' | translate }}</a>
							</li>
							<li>
                        <a routerLink="/horizontal/taskboard" routerLinkActive="active-link" class="link-item"><i class="icon-equalizer icons"></i> {{ 'TASKBOARD' | translate }}</a>
                        <span class="sidebar-label">New</span>
							</li>
							<li>
								<a routerLink="/horizontal/video-player" routerLinkActive="active-link" class="link-item"><i class="icon-control-play icons"></i> {{ 'VIDEO PLAYER' | translate }}</a>
                        <span class="sidebar-label">New</span>
                     </li>
						</ul>
					</li>
					<li class="has-child">
						<a href="javascript:void(0)" class="link-item"><i class="icon-organization icons"></i> {{ 'UI-ELEMENTS' | translate }}</a>
						<ul class="child-menu">
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-frame icons"></i> {{ 'BOOTSTRAP UI' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/ui-elements/buttons" routerLinkActive="active-link" class="link-item"><i class="icon-paper-plane icons"></i>{{ 'BUTTONS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/progressbar" routerLinkActive="active-link" class="link-item"><i class="icon-clock icons"></i>{{ 'PROGRESS BAR' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/tabs" routerLinkActive="active-link" class="link-item"><i class="icon-folder-alt icons"></i> {{ 'TABS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/accordions" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'ACCORDIONS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/pagination" routerLinkActive="active-link" class="link-item"><i class="icon-list icons"></i> {{ 'PAGINATION' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/tooltip" routerLinkActive="active-link" class="link-item"><i class="icon-info icons"></i> {{ 'TOOLTIP' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/badges" routerLinkActive="active-link" class="link-item"><i class="icon-badge icons"></i> {{ 'BADGES' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/cards" routerLinkActive="active-link" class="link-item"><i class="icon-event icons"></i> {{ 'CARDS' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-frame icons"></i> {{ 'CHANKYA UI' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/ui-elements/social-icons" routerLinkActive="active-link" class="link-item"><i class="icon-share icons"></i> {{ 'SOCIAL ICONS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/typography" routerLinkActive="active-link" class="link-item"><i class="icon-key icons"></i> {{ 'TYPOGRAPHY' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/dropdown" routerLinkActive="active-link" routerLinkActive="active-link" class="link-item"><i class="icon-share icons"></i> {{ 'DROPDOWN' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/alert" routerLinkActive="active-link" class="link-item"><i class="icon-ban icons"></i> {{ 'ALERT' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/carousel" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i> {{ 'CAROUSEL' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/datepicker" routerLinkActive="active-link" class="link-item"><i class="icon-calendar icons"></i> {{ 'DATEPICKER' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ui-elements/carousel" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i>{{ 'SLIDER' | translate }}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="has-child">
						<a href="javascript:void(0)" class="link-item"><i class="icon-grid icons"></i> {{ 'COMPONENTS' | translate }}</a>
						<ul class="child-menu">
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-menu icons"></i> {{ 'BASIC' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/components/list" routerLinkActive="active-link" class="link-item"><i class="icon-list icons"></i> {{ 'LIST' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/components/grids" routerLinkActive="active-link" class="link-item"><i class="icon-grid icons"></i> {{ 'GRIDS' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"> <i class="icon-flag icons"></i>{{ 'ICONS' | translate }}
                     </a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/icons/glyphicons" routerLinkActive="active-link" class="link-item"><i class="icon-emotsmile icons"></i> {{ 'GLYPHICONS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/icons/fontawesome" routerLinkActive="active-link" class="link-item"><i class="icon-emotsmile icons"></i> {{ 'FONTAWESOME' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/icons/material-icons" routerLinkActive="active-link" class="link-item"><i class="icon-emotsmile icons"></i> {{ 'MATERIAL ICONS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/icons/linea" routerLinkActive="active-link" class="link-item"><i class="icon-emotsmile icons"></i> {{ 'LINEA' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/icons/simple-line-icons" routerLinkActive="active-link"  class="link-item"><i class="icon-emotsmile icons"></i> {{ 'SIMPLE LINE ICONS' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-menu icons"></i>{{ 'FORMS' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/forms/form-elements" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'FORM ELEMENTS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/forms/form-group" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'FORM GROUP' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/forms/form-validation" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'FORM VALIDATION' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/forms/form-upload" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'UPLOAD' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/forms/form-tree" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i> {{ 'TREE' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-calendar icons"></i> {{ 'TABLES' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/tables/basic" routerLinkActive="active-link" class="link-item"> <i class="icon-calendar icons"></i> {{ 'BASIC' | translate }}</a>
									</li>
									<li class="has-child">
										<a href="javascript:void(0)" class="link-item"><i class="icon-calendar icons"></i> {{ 'DATA TABLES' | translate }}</a>
										<ul class="child-menu">
											<li>
												<a routerLink="/horizontal/tables/fullscreen" routerLinkActive="active-link" class="link-item"><i class="icon-size-fullscreen icons"></i>{{ 'FULLSCREEN' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/selection" routerLinkActive="active-link" class="link-item"><i class="icon-cursor-move icons"></i>{{ 'SELECTION' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/pinning" routerLinkActive="active-link" class="link-item"><i class="icon-pin icons"></i>{{ 'PINNING' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/sorting" routerLinkActive="active-link" class="link-item"><i class="icon-grid icons"></i>{{ 'SORTING' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/paging" routerLinkActive="active-link" class="link-item"><i class="icon-grid icons"></i>{{ 'PAGING' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/editing" routerLinkActive="active-link" class="link-item"><i class="icon-pencil icons"></i>{{ 'EDITING' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/responsive" routerLinkActive="active-link" class="link-item"><i class="icon-screen-smartphone icons"></i>{{ 'RESPONSIVE' | translate }}</a>
											</li>
											<li>
												<a routerLink="/horizontal/tables/foo" routerLinkActive="active-link" class="link-item"><i class="icon-grid icons"></i>{{ 'FOO' | translate }}</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="has-child">
						<a href="javascript:void(0)" class="link-item"><i class="icon-flag icons"></i> {{ 'FEATURES' | translate }}</a>
						<ul class="child-menu">
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-menu icons"></i> {{ 'EDITOR' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/editor/ace-editor" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i>
                           {{ 'ACE EDITOR' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/editor/summer-editor" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i>
                           {{ 'SUMMER' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/editor/wysiwyg" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i>
                           {{ 'WYSIWYG EDITOR' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/editor/ckeditor" routerLinkActive="active-link" class="link-item"><i class="icon-menu icons"></i>
                           {{ 'CK EDITOR' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-chart icons"></i> {{ 'CHARTS' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/chart/ng2-charts" routerLinkActive="active-link" class="link-item"><i class="icon-graph icons"></i>
                           {{ 'NG2 CHARTS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/chart/ngx-charts" routerLinkActive="active-link" class="link-item"><i class="icon-chart icons"></i>
                           {{ 'NGX CHARTS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/chart/easy-pie-chart" routerLinkActive="active-link" class="link-item"><i class="icon-pie-chart icons"></i>
                           {{ 'EASY PIE' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/chart/google-chart" routerLinkActive="active-link" class="link-item"><i class="icon-social-google icons"></i>{{ 'GOOGLE CHARTS' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item">
                        <i class="icon-cursor-move icons"></i> {{ 'DRAG & DROP' | translate }}
                     </a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/dragndrop/dragula" routerLinkActive="active-link" class="link-item"><i class="icon-cursor-move icons"></i>
                              {{ 'DRAGULA' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/dragndrop/sortable" routerLinkActive="active-link" class="link-item"><i class="icon-cursor-move icons"></i>
                              {{ 'SORTABLE' | translate }}</a>
									</li>
								</ul>
							</li>
							<li>
								<a routerLink="/horizontal/resizable" routerLinkActive="active-link" class="link-item"><i class="icon-size-actual icons"></i> {{ 'RESIZABLE' | translate }}</a>
							</li>
							<li>
								<a routerLink="/horizontal/ngx-toaster" routerLinkActive="active-link" class="link-item"><i class="icon-info icons"></i> {{ 'NGX TOASTER' | translate }}</a>
							</li>
							<li>
								<a routerLink="/horizontal/animation" routerLinkActive="active-link" class="link-item"><i class="icon-magic-wand icons"></i>
                     {{ 'ANIMATION' | translate }}</a>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-map icons"></i> {{ 'MAPS' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/maps/googlemap" routerLinkActive="active-link" class="link-item"><i class="icon-social-google icons"></i>
                           {{ 'GOOGLE MAP' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/maps/vectormap" routerLinkActive="active-link" class="link-item"><i class="icon-vector icons"></i>
                           {{ 'VECTOR MAP' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/maps/leafletmap" routerLinkActive="active-link" class="link-item"><i class="icon-map icons"></i>
                           {{ 'LEAFLET MAP' | translate }}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="has-child">
						<a href="javascript:void(0)" class="link-item"><i class="icon-layers icons"></i> {{ 'TEMPLATE' | translate }}</a>
						<ul class="child-menu">
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-user-follow icons"></i> {{ 'USER PAGES' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/user-pages/user-list" routerLinkActive="active-link" class="link-item"><i class="icon-people icons"></i>{{'USER LIST' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/user-pages/user-table" routerLinkActive="active-link" class="link-item"><i class="icon-grid icons"></i>
                           {{ 'USER TABLE' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/user-pages/user-profile" routerLinkActive="active-link" class="link-item"><i class="icon-user icons"></i>
                           {{ 'USER PROFILE' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/user-pages/user-profileV2" routerLinkActive="active-link" class="link-item"><i class="icon-user icons"></i>
                           {{ 'USER PROFILE V2' | translate }}</a>
                           <span class="sidebar-label">New</span>
									</li>
									<li>
										<a routerLink="/horizontal/user-pages/user-contact" routerLinkActive="active-link" class="link-item"><i class="icon-phone icons"></i>
                           {{ 'USER CONTACT' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-globe icons"></i>{{ 'PAGES' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/pages/testimonials" routerLinkActive="active-link" class="link-item"><i class="icon-people icons"></i>{{ 'TESTIMONIALS' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/pages/timeline" routerLinkActive="active-link" class="link-item"><i class="icon-clock icons"></i>{{ 'TIMELINE' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/pages/pricing" routerLinkActive="active-link" class="link-item"><i class="icon-diamond icons"></i>{{ 'PRICING' | translate }}</a>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/pricingV2" routerLinkActive="active-link" class="link-item"><i class="icon-diamond icons"></i>{{ 'PRICING V2' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/contact-list" routerLinkActive="active-link" class="link-item"><i class="icon-phone icons"></i>{{ 'CONTACT LIST' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/feedback" routerLinkActive="active-link" class="link-item"><i class="icon-calendar icons"></i>{{ 'FEEDBACK' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/faq" routerLinkActive="active-link" class="link-item"><i class="icon-question icons"></i>{{'FAQ' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/about" routerLinkActive="active-link" class="link-item"><i class="icon-user-following icons"></i> {{ 'ABOUT' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/pages/search" routerLinkActive="active-link" class="link-item"><i class="icon-magnifier icons"></i>{{'SEARCH' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
										<a routerLink="/horizontal/pages/blank" routerLinkActive="active-link" class="link-item"><i class="icon-doc icons"></i>{{'BLANK' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-graduation icons"></i> {{'COURSES' | translate }}</a>
								<ul class="child-menu">
									<li>
                              <a routerLink="/courses/courses" routerLinkActive="active-link" class="link-item"><i class="icon-graduation icons"></i>{{ 'COURSES' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/courses/course-detail" routerLinkActive="active-link" class="link-item"><i class="icon-graduation icons"></i> {{ 'COURSE DETAIL' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/courses/course-signin" routerLinkActive="active-link" class="link-item"><i class="icon-user-following icons"></i>{{ 'SIGN IN' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
                              <a routerLink="/horizontal/courses/course-payment" routerLinkActive="active-link" class="link-item"><i class="icon-credit-card icons"></i>{{ 'PAYMENT' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-login icons"></i> {{ 'SESSIONS' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/session/loginone" routerLinkActive="active-link" class="link-item"><i class="icon-login icons"></i> {{ 'LOGIN' | translate }}</a>
									</li>
									<li>
										<a routerLink="/session/register" routerLinkActive="active-link" class="link-item"><i class="icon-user-follow icons"></i> {{ 'REGISTER' | translate }}</a>
									</li>
									<li>
										<a routerLink="/session/forgot-password" routerLinkActive="active-link" class="link-item"><i class="icon-exclamation icons"></i> {{ 'FORGOT' | translate }}</a>
									</li>
									<li>
										<a routerLink="/session/lockscreen" routerLinkActive="active-link" class="link-item"><i class="icon-lock icons"></i> {{ 'LOCKSCREEN' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-login icons"></i> {{ 'SESSIONS V2' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/session/coming-soon" routerLinkActive="active-link" class="link-item"><i class="icon-exclamation icons"></i>
                           {{ 'COMING SOON' | translate }}</a>
									</li>
									<li>
                              <a routerLink="/session/coming-soonV2" routerLinkActive="active-link" class="link-item"><i class="icon-exclamation icons"></i> {{ 'COMING SOON V2' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
										<a routerLink="/session/subscribes" routerLinkActive="active-link" class="link-item"><i class="icon-graduation icons"></i> {{ 'SUBSCRIBES' | translate }}</a>
									</li>
									<li>
										<a routerLink="/session/undermaintance" routerLinkActive="active-link" class="link-item"><i class="icon-chart icons"></i> {{ 'UNDER MAINTANCE' | translate }}</a>
									</li>
									<li>
                              <a routerLink="/session/maintanceV2" routerLinkActive="active-link" class="link-item"><i class="icon-chart icons"></i>{{'MAINTENANCE V2' | translate }} </a>
                              <span class="sidebar-label">New</span>
									</li>
									<li>
										<a routerLink="/session/not-found" routerLinkActive="active-link" class="link-item"><i class="icon-question icons"></i>404</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-feed icons"></i>{{ 'BLOG' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/blog/blog-listing" routerLinkActive="active-link" class="link-item"><i class="icon-event icons"></i>{{'BLOG LIST' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/blog/blog-grid" routerLinkActive="active-link" class="link-item"><i class="icon-note icons"></i>{{'BLOG GRID' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/blog/blog-masonry" routerLinkActive="active-link" class="link-item"><i class="icon-event icons"></i>{{'BLOG MASONRY' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/blog/blog-detail" routerLinkActive="active-link" class="link-item"><i class="icon-feed icons"></i>{{'BLOG DETAIL' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/blog/blog-edit" routerLinkActive="active-link" class="link-item"><i class="icon-note icons"></i>{{'BLOG EDIT' | translate }}</a>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-picture icons"></i> {{ 'GALLERY' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/gallery/galleryV1" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i>{{ 'GALLERY V1' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/gallery/galleryV2" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i>{{ 'GALLERY V2' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/gallery/galleryV3" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i>{{ 'GALLERY V3' | translate }}</a>
									</li>
									<li>
                              <a routerLink="/horizontal/gallery/galleryV4" routerLinkActive="active-link" class="link-item"><i class="icon-picture icons"></i>{{ 'GALLERY V4' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-diamond icons"></i> {{ 'E-COMMERCE' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-product" routerLinkActive="active-link" class="link-item"><i class="icon-list icons"></i>{{ 'PRODUCT' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-product-detail" routerLinkActive="active-link" class="link-item"><i class="icon-list icons"></i> {{ 'PRODUCT DETAIL' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-product-list" routerLinkActive="active-link" class="link-item"><i class="icon-list icons"></i>{{ 'PRODUCT LIST' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-product-cart" routerLinkActive="active-link" class="link-item"><i class="icon-credit-card icons"></i>{{ 'PRODUCT CART' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-order" routerLinkActive="active-link" class="link-item"><i class="icon-support icons"></i> {{ 'ORDER DETAIL' | translate }}</a>
									</li>
									<li>
										<a routerLink="/horizontal/ecommerce/ecommerce-order-detail" routerLinkActive="active-link" class="link-item"><i class="icon-paypal icons"></i>{{ 'INVOICE' | translate }}</a>
									</li>
									<li>
                              <a routerLink="/horizontal/ecommerce/invoiceV2" routerLinkActive="active-link" class="link-item"><i class="icon-paypal icons"></i>{{ 'INVOICE LIST' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
								</ul>
							</li>
							<li class="has-child">
								<a href="javascript:void(0)" class="link-item"><i class="icon-organization icons"></i>{{ 'MANAGEMENT' | translate }}</a>
								<ul class="child-menu">
									<li>
										<a routerLink="/horizontal/user-management/management-list" routerLinkActive="active-link" class="link-item"><i class="icon-event icons"></i>{{'USER LIST' | translate }}</a>
                              <span class="sidebar-label">New</span>
                           </li>
									<li>
                              <a routerLink="/horizontal/user-management/management-grid-list" routerLinkActive="active-link" class="link-item"><i class="icon-note icons"></i>{{ 'USER GRID' | translate }}</a>
                              <span class="sidebar-label">New</span>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="chankya-base-container">
		<div class="inner-container">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="chankya-customizer">
		<a class="customizer-toggle bg-primary faa-parent animated-hover" (click)="customizerFunction()">
   <i class="fa fa-wrench faa-slow faa-wrench" aria-hidden="true"></i>
   </a>
		<!-- Nav tabs -->
		<div class="settings-panel">
			<div class="theme-options">
				<div class="theme-head">
					<h4 class="mb-4">{{'Theme Settings'|translate}}</h4>
				</div>
				<div class="form-group  lang-change">
					<label for="exampleSelect1">{{'Select Language'|translate}}</label>
					<select class="layout-item custom-select mt-2 form-control mt-1" placeholder="Language" [(ngModel)]="currentLang" #langSelect="ngModel" (ngModelChange)="translate.use(currentLang)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
            </select>
				</div>
				<div class="layout-item more-theme-style mb-4">
					<label class="mb-2">{{'Choose Header Color'|translate}}</label>
					<div class="d-flex align-items-center">
						<a href="javascript:void(0)" class="theme default d-block mb-2 mr-1" (click)="changeHeaderColor('default')"><i class="fa fa-circle fa-lg text-light" aria-hidden="true"></i></a>
						<a href="javascript:void(0)" class="theme header-primary d-block mb-2 mr-1" (click)="changeHeaderColor('header-primary')"><i class="fa fa-circle fa-lg text-primary" aria-hidden="true"></i></a>
						<a href="javascript:void(0)" class="theme header-success d-block mb-2 mr-1" (click)="changeHeaderColor('header-success')"><i class="fa fa-circle fa-lg text-success" aria-hidden="true"></i></a>
						<a href="javascript:void(0)" class="theme header-warning d-block mb-2 mr-1" (click)="changeHeaderColor('header-warning')"><i class="fa fa-circle fa-lg text-warning" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="layout-item form-check mb-3">
					<label class="form-check-label">
            <input [(ngModel)]="dark" class="form-check-input" type="checkbox" value=""> {{'Dark
            Mode'|translate}}
            </label>
				</div>
				<div class="layout-item form-check mb-3">
					<label class="form-check-label">
            <input (change)="changeRTL($event.target.checked)" class="form-check-input" type="checkbox" value="">
            {{'RTL'|translate}}</label>
				</div>
			</div>
			<!-- theme option closed -->
		</div>
		<!-- setting panel Closed -->
	</div>
	<!-- Chankya customize closed -->
	<div class="chat-sidebar-pan">
		<div class="settings-panel">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#chat" role="tab">{{'Chat'|translate}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#setting" role="tab">{{'Settings'|translate}}</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="chat" role="tabpanel">
					<div class="chat-tabs">
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""> <img class="img-responsive rounded-circle" alt="Chat session" src="assets/img/user-1.jpg" width="50" height="50"> </div>
								<div class="px-2">
									<span class="d-block">Connor Soto</span> <small class="d-block">See you later</small>
								</div>
							</div>
						</a>
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""> <img class="rounded-circle" alt="Chat session" src="assets/img/user-1.jpg" width="50" height="50"> </div>
								<div class="px-2">
									<span class="d-block">Miguel Romero</span> <small class="d-block">Hope for best!</small>
								</div>
							</div>
						</a>
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""> <img class="rounded-circle" alt="Chat session" src="assets/img/user-2.jpg" width="50" height="50"> </div>
								<div class="px-2">
									<span class="d-block">Marguerite Riley</span> <small class="d-block">Good bye and TC!</small>
								</div>
							</div>
						</a>
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""><img class="rounded-circle" alt="Chat session" src="assets/img/user-3.jpg" width="50" height="50"> </div>
								<div class="px-2">
									<span class="d-block">Marian Burke</span> <small class="d-block">Talk u later</small>
								</div>
							</div>
						</a>
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""><img class="rounded-circle" alt="Chat session" src="assets/img/user-4.jpg" width="50" height="50"> </div>
								<div class="px-2">
									<span class="d-block">Wayne Hoffman</span> <small class="d-block">Ready for sunday</small>
								</div>
							</div>
						</a>
						<a href="javascript:void(0)" (click)="chatWindowFunction()">
							<div class="d-flex justify-content-start">
								<div class=""> <img class="rounded-circle" alt="Chat session" src="assets/img/user-5.jpg" width="50" height="50"> </div>
								<div class="px-2 ">
									<span class="d-block">Chris Evans</span> <small class="d-block">am fine ,thanks</small>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="tab-pane" id="setting" role="tabpanel">
					<div class="system-setting">
						<div class="setting-header text-muted"><i class="fa fa-cog"></i> System</div>
						<ul class="list-style-none pl-0">
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Nofications</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-nofications" checked>
									<label class="onoffswitch-label mb-0" for="switch-nofications">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Quick Results</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-results" checked>
									<label class="onoffswitch-label mb-0" for="switch-results">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Auto Updates</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-updates" checked>
									<label class="onoffswitch-label mb-0" for="switch-updates">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
						</ul>
						<div class="setting-header mt-3 text-muted"> <i class="fa fa-user"></i> Account</div>
						<ul class="list-style-none pl-0">
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Offline Mode</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-offline" checked>
									<label class="onoffswitch-label mb-0" for="switch-offline">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Location Share</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-location" checked>
									<label class="onoffswitch-label mb-0" for="switch-location">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Show Offline User</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-offline-user" checked>
									<label class="onoffswitch-label mb-0" for="switch-offline-user">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
							<li class="d-flex justify-content-between">
								<div class="align-self-center">Save History</div>
								<div class="onoffswitch align-self-center">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-history" checked>
									<label class="onoffswitch-label mb-0" for="switch-history">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--setting panel closed -->
	</div>
	<!-- Modal -->
	<div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		<div class="modal-dialog" role="document">
			<div class="container">
				<div class="mb-5">
					<input class="overlay-search" placeholder="Search...">
				</div>
				<div class="search-suggestion">
					<span class="d-block mb-3"><strong>Sugguestions</strong></span>
					<ul class="row search-list">
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">A</span><span
                     class="search-filter mx-1">admin themes</span> in angular4</a>
							<span class="d-block">@themeforest</span>
						</li>
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">H</span><span
                     class="search-filter mx-1">5 Star Hotels</span> in hotal</a>
							<span class="d-block">@abcdehotels</span>
						</li>
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">F</span><span
                     class="search-filter mx-1">air ticket</span> in flights</a>
							<span class="d-block">@airindia</span>
						</li>
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">D</span><span
                     class="search-filter mx-1">css design</span> in designs</a>
							<span class="d-block">@csstricks</span>
						</li>
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">C</span><span
                     class="search-filter mx-1">programming</span> in code</a>
							<span class="d-block">@abcdproject</span>
						</li>
						<li class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
							<a href="javascript:void(0)"><span class="d-inline-block square-50 circle bg-success mr-2">M</span><span
                     class="search-filter mx-1">dunkirk</span> in movies</a>
							<span class="d-block">@imdb</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- chat sidebar Closed -->
	<div class="chat-window">
		<div class="chat-window-i">
			<div class="user-name-chat bg-grey d-flex justify-content-between">
				<span class="align-self-center">Dekota James</span> <a href="javascript:void(0)" (click)="chatWindowFunction()"><i
            class="material-icons align-self-center">close</i></a>
			</div>
			<div class="chat-inner">
				<ul>
					<li class="user-msg mb-3">
						<div class="d-flex">
							<img src="assets/img/user-4.jpg" class="circle chat-user-img" width="55" height="55" alt="user-image">
							<div class="msg-detail px-2">
								<span class="text-primary d-block mb-1">Dekota</span>
								<div class="box-shadow p-2 msg-box mb-1">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, magni?
									</p>
								</div>
								<div class="time text-muted"><small>3 min ago</small></div>
							</div>
						</div>
					</li>
					<li class="my-msg mb-3">
						<div class="d-flex">
							<img src="assets/img/user-2.jpg" class="circle chat-user-img" width="55" height="55" alt="user-image">
							<div class="msg-detail px-2">
								<span class="text-primary d-block mb-1">Admin</span>
								<div class="box-shadow p-2 msg-box mb-1">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing.
									</p>
								</div>
								<div class="time text-muted"><small>3 min ago</small></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="send-msg-chat p-3">
				<input class="form-control mb-3" placeholder="Type message" type="text">
				<button class="btn btn-primary" type="submit">Send</button>
			</div>
		</div>
	</div>
</div>
