<!--Courses landing-->
<div class="course-wrap">
	<div class="banner-wrap bg-secondary py-5">
		<div class="container">
			<div class="banner-content">
				<div class="sec-title mb-3">
					<h2 class="d-inline-block mb-0 font-weight-light"><span class="font-2x">{{'Visualized intellectual property strategy and intelligence '|translate}}</span></h2>
					<span class="tooltip-wrap d-inline-block">
                  <span class="p-1 shadow-box" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Visualized courses will build your skills for creating application and learn modern tools frameworks.">
                     <i class="mat-icon material-icons">info</i>
                  </span>
					</span>
				</div>
				<div class="row">
					<div class="col-12 col-sm-11">
						<ul class="tags-slider-wrap course-tags-list pl-0 mx-n2 mb-0">
							<li class="d-inline-block px-2 mb-2" *ngFor="let developer of courseDeveloper">
								<a class="course-tag d-inline-block w-100 text-center p-3 bg-white shadow-box">{{developer}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="courses-content-wrap">
		<div class="container">
			<div class="degree-wrap">
				<div class="row" *ngIf="jsonResponse.earnDegree && jsonResponse.earnDegree.length>0">
					<ng-container *ngFor="let earnDegree of jsonResponse.earnDegree">
						<div class="col-12 col-sm-12 col-md-6 col-lg-3 grid-b-space">
							<app-course-degree [earnDegree]="earnDegree"></app-course-degree>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<!--Trending course-->
		<div class="courses-grid-slider py-4" dir="ltr">
			<div class="container">
				<div class="sec-title mrgn-b-2">
					<h4 class="font-weight-light"><span class="font-2x">{{'Trending Courses'|translate}}</span></h4>
				</div>
				<div *ngIf="jsonResponse.courses && jsonResponse.courses.length>0">
					<ng-container *ngIf="getCoursesByType('trending').length>4; else noSlider">
						<div class="mx-n3">
							<ngx-slick-carousel [config]="trendingCourseSlideConfig">
								<ng-container ngxSlickItem *ngFor="let course of getCoursesByType('trending')">
									<div class="px-3 course-item {{course.sell}}">
										<app-course-card [course]="course"></app-course-card>
									</div>
								</ng-container>
							</ngx-slick-carousel>
						</div>
					</ng-container>
					<ng-template #noSlider>
						<div class="row">
							<ng-container *ngFor="let course of getCoursesByType('trending')">
								<div class="col-12 col-md-3 grid-b-space course-item {{course.sell}}">
									<app-course-card [course]="course"></app-course-card>
									<app-course-detail [course]="course"></app-course-detail>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
		<!--	Testimonial	-->
		<div class="testimonial-wrap py-4" dir="ltr">
			<div class="container">
				<div class="testimonial-slider">
					<div class="card shadow-box border p-4">
						<ngx-slick-carousel [config]="testimonialSlideConfig">
							<ng-container ngxSlickItem *ngFor="let testimonial of jsonResponse.testimonial">
								<app-course-testimonial [testimonial]="testimonial"></app-course-testimonial>
							</ng-container>
						</ngx-slick-carousel>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>