<!--User Manage List-->
<div class="user-manage-list">
	<div class="chk-block mb-0">
		<div class="chk-block-title px-4">
			<div class="d-block d-sm-flex justify-content-between align-items-center">
				<div class="d-flex justify-content-start align-items-center mb-sm-0 mb-3">
					<div class="mr-3">
						<a class="text-muted" href="javascript:void(0)"><i class="fa fa-refresh"
								aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="d-flex justify-content-start align-items-center">
					<button *ngIf="isAllowed" class="btn btn-primary" (click)="addNewLibrary()">Add Dashboard<i
							class="fa fa-plus ml-2"></i></button>
				</div>
			</div>
		</div>
		<div class="chk-block-content p-0">
			<div class="table-responsive">
				<table class="table table-striped mb-0">
					<thead>
						<tr class="text-muted font-sm">
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Date</th>
							<th scope="col">Desc</th>
							<th scope="col">Workbook</th>
							<th class="text-center" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let librariesList of librariesManageList;let i = index">
							<td>
								<span class="font-sm">{{librariesList.id}}</span>
							</td>
							<td>
								<span class="font-sm">{{librariesList.name}}</span>
							</td>
							<td>
								<span class="font-sm">{{librariesList.date}}</span>
							</td>
							<td>
								<span [innerHtml]="librariesList.description"></span>
							</td>
							<td>
								<span class="font-sm" *ngFor="let w of librariesList.list">{{w.name}}<br /></span>
							</td>
							<td class="text-center font-sm text-nowrap">
								<button class="mr-3 btn btn-primary" href="javascript:void(0)"
									[routerLink]="['/dashboard/lib',librariesList.id]">View</button>
								<a *ngIf="isAllowed" class="mr-3 btn btn-info text-white" href="javascript:void(0)"
									[routerLink]="['/libraries/edit',librariesList.id]"><i class="fa fa-edit"
										aria-hidden="true"></i></a>
								<a *ngIf="isAllowed" class="mr-3 btn btn-danger text-white" href="javascript:void(0)"
									(click)="onDelete(librariesList.id, i)"><i class="fa fa-times"
										aria-hidden="true"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="invoice-pagination px-3 py-3 d-flex justify-content-sm-end justify-content-center">
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-end mb-0">
						<li class="page-item">
							<a class="page-link" href="javascript:;" aria-label="Previous">
								<span aria-hidden="true">
									<i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li class="active page-item"><a class="page-link bg-white mx-1 shadow-box"
								href="javascript:;">1</a></li>
						<li class="page-item"><a class="page-link bg-white mx-1 shadow-box">2</a></li>
						<li class="page-item"><a class="page-link bg-white mx-1 shadow-box">3</a></li>
						<li class="page-item"><a class="page-link bg-white mx-1 shadow-box">4</a></li>
						<li class="page-item"><a class="page-link bg-white mx-1 shadow-box">5</a></li>
						<li class="page-item">
							<a class="page-link" href="javascript:;" aria-label="Next">
								<span aria-hidden="true">
									<i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
								</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>