<!--Syllabus-->
<div class="syllabus-item row py-3">
	<div class="col-3 col-sm-2">
		<div class="scheduled-time text-center pt-md-4 mb-4">
			<h5 class="font-weight-normal text-nowrap letter-space-3">WEEK</h5>
			<span class="d-block font-3x text-muted">{{syllabous.week}}</span>
		</div>
	</div>
	<div class="col-12 col-sm-10">
		<div class="syllabus-content">
			<div class="hours-duration d-flex align-items-center">
				<span class="icon-wrap rounded-circle d-flex align-items-center justify-content-center mr-3 mb-4 bg-primary">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
            </span>
				<p class="duration mb-4 d-inline-block font-weight-bold">
					{{syllabous.hoursToComplete}}
				</p>
			</div>
			<div class="content-wrap">
				<div class="sec-title">
					<h2 class="font-2x">Chapter {{syllabous.chapter}} - {{syllabous.heading}}</h2>
				</div>
				<div class="sec-content">
					<p>{{syllabous.content}}</p>
				</div>
			</div>
			<div class="no-of-videos d-flex align-items-center">
				<span class="icon-wrap rounded-circle d-flex align-items-center justify-content-center mr-3 mb-3 bg-secondary">
               <i class="fa fa-columns" aria-hidden="true"></i>
            </span>
				<p class="duration mb-3 mr-3 d-inline-block text-muted">
					{{syllabous.videos.length}} Videos, {{syllabous.reading.length}} reading, {{syllabous.quizzes.length}} quizzes
				</p>
				<span class="show-text d-inline-block text-primary text-capitalize mb-3" id="show-more{{syllabous.id}}" (click)="showMore(syllabous.id)">
               {{'Show More'|translate}} 
            </span>
			</div>
			<hr>
			<div class="more-content d-none" id="show-content{{syllabous.id}}">
				<div class="sec-title mb-3 font-weight-bold">
					<i class="fa fa-play-circle mr-2 text-primary" aria-hidden="true"></i><span>{{syllabous.videos.length}} Videos</span>
				</div>
				<ul class="sec-content list-unstyled p-0">
					<li class="mb-3 p-cursor" (click)="onVideoPlayer(video.demoVideoUrl)" *ngFor="let video of syllabous.videos">{{video.name}}</li>
				</ul>
				<hr>
				<div class="sec-title mb-3 font-weight-bold">
					<i class="fa fa-book mr-2 text-primary" aria-hidden="true"></i><span>{{syllabous.reading.length}} reading</span>
				</div>
				<ul class="sec-content list-unstyled p-0">
					<li class="mb-3" *ngFor="let reading of syllabous.readingreading of ">{{reading}}</li>
				</ul>
				<hr>
				<div class="sec-title mb-3 font-weight-bold">
					<i class="fa fa-clock-o mr-2 text-primary" aria-hidden="true"></i><span>{{syllabous.quizzes.length}} Quizzes</span>
				</div>
				<ul class="sec-content list-unstyled p-0">
					<li class="mb-3" *ngFor="let quizz of syllabous.quizzes">{{quizz}}</li>
				</ul>
				<hr>
			</div>
		</div>
	</div>
</div>