<div class="row stats-grid">
	<div class="col-xl-3 col-lg-6 col-md-6 grid-b-space">
		<div class="card rounded-0 shadow-box">
			<div class="card-body stat-border-muted over-visible">
				<div class="d-flex justify-content-between mb-2">
					<div class="d-flex align-self-center">
						<h4 class="font-weight-normal mb-0">Total Profit</h4>
					</div>
					<div class="d-flex align-self-center">
						<div class="dropdown show">
							<a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<small class="mr-1"> Today</small>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="javascript:void(0)">Week</a>
								<a class="dropdown-item" href="javascript:void(0)">Month</a>
								<a class="dropdown-item" href="javascript:void(0)">Year</a>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="align-self-center">
						<h2 class="mb-1 font-weight-normal fs-26">$40,200</h2>
						<p class="small text-muted">Last week (40.5%)</p>
					</div>
					<div class="d-flex align-self-center">
						<span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- card-closed -->
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 grid-b-space">
		<div class="card rounded-0 shadow-box">
			<div class="card-body stat-border-muted over-visible">
				<div class="d-flex justify-content-between mb-2">
					<div class="d-flex align-self-center">
						<h4 class="font-weight-normal mb-0">Visits</h4>
					</div>
					<div class="d-flex align-self-center">
						<div class="dropdown show">
							<a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<small class="mr-1"> Today</small>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="javascript:void(0)">Week</a>
								<a class="dropdown-item" href="javascript:void(0)">Month</a>
								<a class="dropdown-item" href="javascript:void(0)">Year</a>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="align-self-center">
						<h2 class="mb-1 font-weight-normal fs-26">7,115</h2>
						<p class="small text-muted">Last week (40.5%)</p>
					</div>
					<div class="d-flex align-self-center">
						<span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- card-closed -->
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 grid-b-space">
		<div class="card rounded-0 shadow-box">
			<div class="card-body stat-border-muted over-visible">
				<div class="d-flex justify-content-between mb-2">
					<div class="d-flex align-self-center">
						<h4 class="font-weight-normal mb-0">New Orders</h4>
					</div>
					<div class="d-flex align-self-center">
						<div class="dropdown show">
							<a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<small class="mr-1"> Today</small>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="javascript:void(0)">Week</a>
								<a class="dropdown-item" href="javascript:void(0)">Month</a>
								<a class="dropdown-item" href="javascript:void(0)">Year</a>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="align-self-center">
						<h2 class="mb-1 font-weight-normal fs-26">1455</h2>
						<p class="small text-muted">Last week (40.5%)</p>
					</div>
					<div class="d-flex align-self-center">
						<span class="text-danger"><i class="fa fa-arrow-down fa-2x"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- card-closed -->
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 grid-b-space">
		<div class="card rounded-0 shadow-box">
			<div class="card-body stat-border-muted over-visible">
				<div class="d-flex justify-content-between mb-2">
					<div class="d-flex align-self-center">
						<h4 class="font-weight-normal mb-0">Comments</h4>
					</div>
					<div class="d-flex align-self-center">
						<div class="dropdown show">
							<a class="text-muted" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<small class="mr-1"> Today</small>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="javascript:void(0)">Week</a>
								<a class="dropdown-item" href="javascript:void(0)">Month</a>
								<a class="dropdown-item" href="javascript:void(0)">Year</a>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="align-self-center">
						<h2 class="mb-1 font-weight-normal fs-26">5,400</h2>
						<p class="small text-muted">Last week (40.5%)</p>
					</div>
					<div class="d-flex align-self-center">
						<span class="text-success"><i class="fa fa-arrow-up fa-2x"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- card-closed -->
	</div>
</div>
<!--icon grid widget 1-->
<div class="row base-card">
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 grid-b-space fade-in-up">
		<div class="bg-primary shadow-box pl-2">
			<div class="d-flex bg-white justify-content-between p-3">
				<div>
					<h2 class="font-weight-normal">Sales</h2>
					<h3 class="font-weight-normal m-0">4,983</h3>
				</div>
				<div class="dash-icon">
					<i class="icon-wallet icons font-xl"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 grid-b-space fade-in-up">
		<div class="bg-primary shadow-box pl-2">
			<div class="d-flex bg-white justify-content-between p-3">
				<div>
					<h2 class="font-weight-normal">Likes</h2>
					<h3 class="font-weight-normal m-0">47,513</h3>
				</div>
				<div class="dash-icon">
					<i class="icon-like font-xl"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 grid-b-space fade-in-up">
		<div class="bg-primary shadow-box pl-2">
			<div class="d-flex bg-white justify-content-between p-3">
				<div>
					<h2 class="font-weight-normal">Download</h2>
					<h3 class="font-weight-normal m-0">1,89,200</h3>
				</div>
				<div class="dash-icon">
					<i class="icon-cloud-download icons font-xl"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 grid-b-space fade-in-up">
		<div class="bg-primary shadow-box pl-2">
			<div class="d-flex bg-white justify-content-between p-3">
				<div>
					<h2 class="font-weight-normal">Profit</h2>
					<h3 class="font-weight-normal m-0">$98,575</h3>
				</div>
				<div class="dash-icon">
					<i class="icon-graph icons font-xl"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- tableau widgets-->
	<div widget class="col-sm-12 col-md-6 col-lg-6 col-xl-6 cus-col" *ngFor="let wb of wbs">
		<div class="chk-block">
			<div class="chk-block-title">
				<div class="d-flex justify-content-between">
					<div class="d-flex align-self-center">
						<h3 class="text-capitalize">{{wb.title}}</h3>
					</div>
					<div class="d-inline-flex align-self-center">
						<div class="chk-contextual-link widget-controls">
							<a data-widgster="expand" href="javascript:void(0)" class="transition"><i
									class="icon-plus icons"></i></a>
							<a data-widgster="collapse" href="javascript:void(0)" class="transition"><i
									class="icon-minus icons"></i></a>
							<a data-widgster="close" href="javascript:void(0)" class="transition"><i
									class="icon-close icons"></i></a>
							<a data-widgster="fullscreen" href="javascript:void(0)">
								<i class="icon-size-fullscreen icons"></i>
							</a>
							<a data-widgster="restore">
								<i class="icon-size-actual icons"></i>
							</a>
						</div>
						<!-- Contextual link closed -->
					</div>
				</div>
			</div>
			<div class="chk-block-content widget-body">
				<div class="reports mb-2">
					<div class="card-text" [innerHTML]="wb.description"></div>
					<div class="embed-responsive embed-responsive-16by9 z-depth-1">
						<iframe class="embed-responsive-item" [src]="wb.url" [id]="">
						</iframe>
					</div>
				</div>
				<div class="text-center text-muted"><a class="">View All</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row base-card" #spotcont>
	<!-- spotfire widgets-->
	<div widget class="col-sm-12 col-md-6 col-lg-6 col-xl-6 cus-col" *ngFor="let wb of wbsspot">
		<div class="chk-block">
			<div class="chk-block-title">
				<div class="d-flex justify-content-between">
					<div class="d-flex align-self-center">
						<h3 class="text-capitalize">{{wb.title}}</h3>
					</div>
					<div class="d-inline-flex align-self-center">
						<div class="chk-contextual-link widget-controls">
							<a data-widgster="expand" href="javascript:void(0)" class="transition"><i
									class="icon-plus icons"></i></a>
							<a data-widgster="collapse" href="javascript:void(0)" class="transition"><i
									class="icon-minus icons"></i></a>
							<a data-widgster="close" href="javascript:void(0)" class="transition"><i
									class="icon-close icons"></i></a>
							<a data-widgster="fullscreen" href="javascript:void(0)">
								<i class="icon-size-fullscreen icons"></i>
							</a>
							<a data-widgster="restore">
								<i class="icon-size-actual icons"></i>
							</a>
						</div>
						<!-- Contextual link closed -->
					</div>
				</div>
			</div>
			<div class="chk-block-content widget-body">
				<div class="reports mb-2">
					<div class="card-text" [innerHTML]="wb.description"></div>
				</div>
				<div class="embed-responsive embed-responsive-16by9 z-depth-1">
					<div id="{{wb.name}}" class="embed-responsive-item"></div>
				</div>
				<div class="text-center text-muted"><a class="">View All</a>
				</div>
			</div>
		</div>

	</div>
</div>
