<div class="row align-items-stretch custom-3col-resp">
    <!-- My Dashboard-->
    <div widget class="col-sm-12 col-md-12 col-lg-6 col-xl-4 cus-col">
        <div class="chk-block support-wrap">
            <div class="chk-block-title">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-self-center">
                        <h3 class="text-capitalize">{{"My AccencioViews"|translate}}</h3>
                    </div>
                    <div class="d-inline-flex align-self-center">
                        <div class="chk-contextual-link widget-controls">
                            <a data-widgster="expand" href="javascript:void(0)" class="transition"><i
                                    class="icon-plus icons"></i></a>
                            <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i
                                    class="icon-minus icons"></i></a>
                            <a data-widgster="close" href="javascript:void(0)" class="transition"><i
                                    class="icon-close icons"></i></a>
                            <a data-widgster="fullscreen" href="javascript:void(0)">
                                <i class="icon-size-fullscreen icons"></i>
                            </a>
                            <a data-widgster="restore">
                                <i class="icon-size-actual icons"></i>
                            </a>
                        </div>
                        <!-- Contextual link closed -->
                    </div>
                </div>
            </div>
            <div class="chk-block-content mb-3 widget-body fixed-panel style-6">
                <div class="d-flex justify-content-between mb-2 ripple" *ngFor="let w of dashboards">
                    <div class=""><img src="assets/img/new-kinship.png" class="mb-1 blur-img-50" alt="user image"
                            width="95" />
                    </div>
                    <div class="ml-4 support-content">
                        <span><strong>{{w.name}}</strong></span>
                            <div class="text-over-p" [innerHtml]="w.description"></div>
                    </div>
                    <div class="support-action text-primary text-center">
                        <a (click)="gotodashboard(w.id)"><i class="fa fa-dot-circle-o"></i> View</a>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-2 ripple">
                    <div class=""><img src="assets/img/new-geoscape.png" class="mb-1 blur-img-50" alt="user image"
                            width="95" />
                    </div>
                    <div class="ml-4 support-content">
                        <span><strong>All workbooks</strong></span>
                        <p class="text-over-p">View all your workbooks.</p>
                    </div>
                    <div class="support-action text-primary text-center">
                        <a routerLink="/dashboard/my"><i class="fa fa-dot-circle-o"></i> View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Dashboard Block Closed -->

    <!-- Workbooks-->
    <div widget class="col-sm-12 col-md-12 col-lg-6 col-xl-4 cus-col">
        <div class="chk-block">
            <div class="chk-block-title">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-self-center">
                        <h3 class="text-capitalize">{{"Workbooks"|translate}}</h3>
                    </div>
                    <div class="d-inline-flex align-self-center">
                        <div class="chk-contextual-link widget-controls">
                            <a data-widgster="expand" href="javascript:void(0)" class="transition"><i
                                    class="icon-plus icons"></i></a>
                            <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i
                                    class="icon-minus icons"></i></a>
                            <a data-widgster="close" href="javascript:void(0)" class="transition"><i
                                    class="icon-close icons"></i></a>
                            <a data-widgster="fullscreen" href="javascript:void(0)">
                                <i class="icon-size-fullscreen icons"></i>
                            </a>
                            <a data-widgster="restore">
                                <i class="icon-size-actual icons"></i>
                            </a>
                        </div>
                        <!-- Contextual link closed -->
                    </div>
                </div>
            </div>
            <div class="chk-block-content widget-body fixed-panel style-6">
                <div class="reports mb-3" *ngFor="let w of workbooks">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <div class="d-flex">
                                <div class="text-muted align-self-center">
                                    <ng-container *ngIf="w.type==2">
                                        <span class="badge badge-primary mt-1">Spotfire</span>
                                    </ng-container>
                                    <ng-container *ngIf="w.type==1">
                                        <span class="badge badge-success mt-1">Tableau</span>
                                    </ng-container>
                                    <ng-container *ngIf="w.type==3">
                                        <span class="badge badge-warning mt-1">Content</span>
                                    </ng-container>

                                </div>
                                <div class="px-3 align-self-center">
                                    <p class="mb-0">{{w.title}}</p>
                                    <span class="date">{{w.date}}</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a (click)='gotoworkbook(w.id)' class="text-primary">
                                <i class="fa fa-dot-circle-o"></i> View
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <!-- Download Data Block closed -->
    </div>
    <!-- Workbooks Block Closed -->
    <!-- Notifications-->
    <div widget class="col-sm-12 col-md-12 col-xl-4 cus-col-change">
        <div class="chk-block">
            <div class="chk-block-title">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-self-center">
                        <h3 class="text-capitalize">{{"Notifications"|translate}}</h3>
                    </div>
                    <div class="d-inline-flex align-self-center">
                        <div class="chk-contextual-link widget-controls">
                            <a data-widgster="expand" href="javascript:void(0)" class="transition"><i
                                    class="icon-plus icons"></i></a>
                            <a data-widgster="collapse" href="javascript:void(0)" class="transition"><i
                                    class="icon-minus icons"></i></a>
                            <a data-widgster="close" href="javascript:void(0)" class="transition"><i
                                    class="icon-close icons"></i></a>
                            <a data-widgster="fullscreen" href="javascript:void(0)">
                                <i class="icon-size-fullscreen icons"></i>
                            </a>
                            <a data-widgster="restore">
                                <i class="icon-size-actual icons"></i>
                            </a>
                        </div>
                        <!-- Contextual link closed -->
                    </div>
                </div>
            </div>
            <div class="chk-block-content widget-body fixed-panel style-6">
                <div>
                    <ul class="pl-0 list-style-none mb-3 ripple-list">
                        <li class="bg-light shadow-box pb-3 pt-3 px-3 mb-4 d-flex justify-content-between"
                        *ngFor="let n of notifications">
                            <div class="d-flex">
                                <i class="fa-lg icon-space fa fa-check" aria-hidden="true"></i>
                                <a (click)="gotonotif(n)"><div class="px-2">{{n.date | date}}, {{n.msg}}</div></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Notification Block Closed -->
</div>