<!--Course Testimonial-->
<div class="row align-items-center">
	<div class="col-12 col-sm-3 mb-4 mb-sm-0">
		<figure class="imghvr-zoom-in text-center">
			<img class="img-fluid rounded-circle d-inline-block" alt="testimonial-image" src="{{testimonial.img}}" width="165" height="165">
		</figure>
	</div>
	<div class="col-12 col-sm-9">
		<div class="card-body">
			<div class="sec-content">
				<h3 class="font-weight-light"><span><i class="fa fa-quote-left text-primary mr-2 mt-n2 d-inline-block"></i>{{testimonial.content}}</span></h3>
				<span class="text-muted">{{testimonial.name}}</span>
			</div>
		</div>
	</div>
</div>