/* You can add global styles to this file, and also import other style files */

/* Accencio style */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}

p{
  font-size: 18px;
}

:root {
  --accent-orange: #f97f33;
  --accent-blue: #22a5df;
  --heading-color: #15364f;
}

.slider{
  background: url(/assets/images/slider-accencio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -76px;
}

.navbar{
  z-index: 999;
  background-color: #303031;
  padding: 1rem 1rem !important;
}

.logo-img{
  height: 50px;
}

.navbar-nav .nav-link{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.login-link a{
  color: #22a5e0 !important;
}

.slide-1-content h1{
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.slide-1-content h3{
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin-top: 20px;
}

.slide-1-content .separator{
  min-height: 6px;
  width: 56px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
}

.separator-blue{
  min-height: 4px;
  width: 46px;
  background-color: #22a5df;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator-orange{
  min-height: 4px;
  width: 46px;
  background-color: var(--accent-orange);
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide-1-content p{
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.slide-1-content .secondary-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
  padding: 10px 30px;
  margin-top: 20px;
}

.slide-1-content .secondary-btn:hover{
  background-color: white;
  color: #1b1e21;
  transition: 0.2s;
}

.slide-1-content{
  width: 50%;
  float: right;
  text-align: right;
  margin-top: 46px;
  z-index: 999;
}

.search-icon{
  height: 20px;
}

.gray-bg{
  background-color: #f8f8f8;
}

.dark-bg{
  background-color: #353638;
}

.main-section{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.main-section-content h1{
  font-size: 30px;
  font-weight: 700;
  color: #15364f;
}

.main-section-content .separator{
  background-color: #22a5df;
  min-height: 6px;
  width: 56px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-section-content .separator-white{
  background-color: #ffffff;
  min-height: 6px;
  width: 56px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-section.dark-bg .main-section-content h1{
  color: white;
}

.main-section.dark-bg .main-section-content p{
  color: white;
}

.primary-btn{
  background-color: #22a5df !important;
  border: 1px solid #22a5df !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  padding: 10px 30px !important;
  margin-top: 20px !important;
}

.primary-btn:hover{
  background-color: transparent !important;
  text-decoration: none !important;
  color: #22a5df !important;
  transition: 0.2s !important;
}

.primary-btn-orange{
  background-color: var(--accent-orange) !important;
  border: 1px solid var(--accent-orange) !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  padding: 10px 30px !important;
  margin-top: 20px !important;
}

.primary-btn-orange:hover{
  background-color: transparent !important;
  color: var(--accent-orange) !important;
  text-decoration: none;
  transition: 0.2s;
}

.main-section-image{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 480px;
}

.navbar-toggler{
  border: 0px !important;
  color: white;
}

.navbar-toggler:focus{
  outline: none;
}

.navbar-toggler{
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url(/assets/images/menu.svg) !important;
}

.fixedPosition
{
  overflow-y: hidden;
}

.hidden{
  display: none;
}

.center{
  text-align: center;
}

.center-separator{
  margin-left: auto;
  margin-right: auto;
}

.right-separator{
  margin-left: auto;
}

.content-shadow-box{
  padding: 25px;
  box-shadow: 0px 0px 16px 1px #0000000f;
  height: 100%;
}

.content-shadow-box img{
  max-height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.content-shadow-box h1{
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  color: var(--heading-color);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.content-shadow-box ul{
  list-style: none;
}

.content-shadow-box ul li:before{
  content: "";
  border-color: transparent var(--accent-blue);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.1em;
  position: relative;
}

.center-button{
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a:focus{
  outline: none;
  text-decoration: none;
}

.align-center{
  align-items: center;
}

.icon-h-text-box{
  text-align: center;
}

.icon-h-text-box img{
  max-height: 80px;
  width: 80px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon-h-text-box p{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: white;
}

.icon-h-text-box span{
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  color: white;
}

.second-row-icons-h-text{
  margin-top: 50px;
}

.footer-col{
  padding: 20px;
}

.footer-col .footer-logo{
  height: 60px;
  margin-bottom: 15px;
  display: block;
}

.footer-col .contact-info{
  display: flex;
  flex-direction: column;
}

.footer-col .contact-info .group{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-col .contact-info .group img{
  max-height: 20px;
  width: 20px;
  margin-right: 15px;
}

.footer-col .contact-info .group p{
  margin-bottom: 0px;
  color: #041324;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
}

.pre-footer{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #dddddd;
}

.footer-col h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--heading-color);
  text-transform: uppercase;
}

.footer-col .useful-links{
  list-style-type: none;
  padding-left: 0px;
}

.footer-col .useful-links li{
  margin-top: 7px;
  margin-bottom: 7px;
}

.footer-col .useful-links li a{
  color: inherit;
}

.footer-col .useful-links li a:hover{
  color: var(--accent-blue);
  text-decoration: none;
}

.footer-col .social-icons-footer{
  display: flex;
  margin-top: 20px;
}

.footer-col .social-icons-footer .group a img{
  max-height: 30px;
  width: 30px;
}

.footer-col .social-icons-footer .group{
  margin-right: 20px;
}

.footer-bg{
  background-color: #2d2d2d;
  color: white;
}

.copyright-text{
  font-size: 14px;
  text-align: center;
  font-weight: 200;
  color: white;
  display: block;
}

/* test video slider */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('/assets/images/video-start.jpg') black no-repeat center center scroll;
  }
  #video-slider{
    display: none;
  }
}

@media (max-width: 768px)
{
  #video-slider{
    display: none;
  }
}
/* end of test video slider */

header{
  background: url('/assets/images/video-start.jpg') black no-repeat center center scroll;
  height: 100vh;
  min-height: 100vh;
  margin-top: -92px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.container.h-100{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.breadcrumb-custom{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: white;
  background-color: #303031;
}

.products-breadcrumb{
  background-image: url('/assets/images/bread-products.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #303031;
}

.breadcrumb-custom h1{
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}

.team-member-box{
  display: block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 80px;
}

.team-member-box .member-image{
  height: 236px;
  width: 236px;
  margin-bottom: 20px;
}

.team-member-box h3{
  font-size: 22px;
  font-weight: 600;
  color: white;
  line-height: 27px;
}

.team-member-box span{
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.team-member-box p{
  font-size: 16px;
  line-height: 22px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}

.team-member-box .social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.team-member-box .social-links img{
  max-width: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.team-members-row{
  margin-top: 30px;
}

.team-members-section{
  padding-bottom: 0px;
}

.input-def{
  background-color: transparent !important;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #3ab3e4;
  width: 100%;
  color: #041324 !important;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  text-align: left;
  border-radius: 0px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #041324 !important;
  font-size: 17px !important;
}

.input-contact:focus{
  outline: none;
}

.input-contact{
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #3ab3e4;
  width: 100%;
  color: #ffffff85;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  padding: 10px 20px;
  text-align: left;
  border-radius: 0px !important;
}

.input-contact:focus{
  outline: none;
}

.search-bar-visible{
  width: 500px;
  display: flex;
  align-items: center;
}

.search-bar-visible span{
  font-size: 36px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
}

.search-result-text{
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #7c839385;
}

.search-bar a{
  height: 25px;
}

.search-bar img{
  max-height: 25px;
  max-width: 25px;
  margin-left: 25px;
  margin-top: 3px;
}

.search-form{
  width: 100%;
  display: flex;
  align-items: center;
}

.product-box{
  color: white;
  margin-top: 30px;
}

.product-box h2{
  color: white;
  font-weight: 600;
  font-size: 26px;
}

.product-box img{
  display: block;
  margin-bottom: 50px;
  margin-top: 25px;
  max-width: 400px;
}

.products-second-row{
  margin-top: 8em;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .6rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu{
  border: 0px;
  box-shadow: 0px 0px 9px 1px #0000001a;
}

.dropdown-arrow-img{
  height: 12px;
  width: 12px;
  display: inline-flex;
  margin-left: 3px;
}

.contact-page-info .group{
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact-page-info .group .image-wrapper{
  height: 40px;
  width: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page-info .group .image-wrapper img{
  max-width: 40px;
  max-height: 40px;
}

.contact-page-info .group p{
  font-size: 18px;
  margin-bottom: 0px;
}

.contact-form{
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.checkbox-product{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-product label{
  color: #ffffff85;
  font-size: 18px;
  font-weight: 300;
  padding-left: 10px;
  margin-bottom: 0px;
}

.label-def{
  color: #a5a5a6;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  padding-left: 20px;
}

/* Checkbox */
.customcheck {
  display: block;
  position: relative;
  cursor: pointer;
  color: #ffffff85;
  font-size: 18px;
  font-weight: 300;
  padding-left: 40px;
  margin-bottom: 20px;;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #3ab2e4;
  border-radius: 3px;
}

.customcheck:hover input ~ .checkmark {
  background-color: #2691bd;
}

.customcheck input:checked ~ .checkmark {
  background-color: #3ab2e4;
  border-radius: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.customcheck input:checked ~ .checkmark:after {
  display: block;
}

.customcheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* End of Checkbox */

.checkboxes{
  margin-top: 10px;
}

/* Custom Select */

select {
  word-wrap: normal;
  background-color: #3ab2e4;
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  color: #ffffff;
  border-bottom: 0px !important;
}

select:focus{
  outline: none;
}
/* Custom Select */

.triangle-ul-orange{
  list-style: none;
  color: white;
  text-align: left;
}

.triangle-ul-orange li:before{
  content: "";
  border-color: transparent var(--accent-orange);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.1em;
  position: relative;
}

.cta-only-section{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
}

.orange-triangles li:before{
  border-color: transparent var(--accent-orange) !important;
}

.required-explainer{
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #757575;
  font-style: italic;
}

.input-def:focus{
  outline: none;
}

/* Articles Management */

.sub-menu-cms{
  background-color: #3ab3e4;
  color: white;
}

.menu-cms .menu-item{
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.menu-cms .menu-item.active{
  background-color: #353638;
}

.menu-cms .menu-item .material-icons{
  margin-right: 10px;
}

.menu-cms .menu-item p{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 600;
}

.menu-cms a:hover{
  text-decoration: none;
}

.menu-cms .menu-item:hover{
  background-color: #353638;
  transition: 0.2s;
}

.menu-cms{
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-management .article-box{
  padding: 25px;
  box-shadow: 0px 0px 16px 1px #0000000f;
  margin-bottom: 25px;
}

.articles-management .article-box p{
  font-size: 16px;
  color: #797979;
}

.articles-management .article-box h1{
  font-size: 24px;
  font-weight: 600;
}

.articles-management .article-box .meta{
  display: flex;
  align-items: center;
}

.articles-management .article-box .meta .group{
  display: flex;
  align-items: center;
}

.articles-management .article-box .meta .group .material-icons{
  margin-right: 7px;
  color: #3ab3e4;
}

.articles-management .article-box .meta .group{
  margin-right: 25px;
}

.articles-management .article-box .action{
  display: flex;
  align-items: center;
}

.articles-management .article-box .action a .material-icons{
  font-size: 18px;
  padding-right: 5px;
}

.articles-management .article-box .action{
  margin-top: 20px;
}

.articles-management .article-box .action a{
  background-color: #3ab3e4;
  color: white;
  padding: 3px 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.articles-management .article-box .action a:hover{
  text-decoration: none;
  background-color: #353638;
  transition: 0.2s;
}

/* End of Articles Management */

/* Carousel Home */

.carousel-articles{
  padding-top: 20px;
}

.article-box-carousel{
  padding: 30px;
  box-shadow: 0px 0px 16px 1px #0000000f;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

.article-box-carousel h3{
  font-size: 22px;
  color: #353638;
  font-weight: 600;
  line-height: 27px;
}

.article-box-carousel img{
  width: auto;
  max-height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-box-carousel p{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.article-box-carousel a.read-more{
  background-color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  color: white;
  font-size: 14px;
  padding: 5px 16px;
  margin-top: 10px;
  display: inline-block;
}

.article-box-carousel a:hover{
  background-color: white;
  color: var(--accent-blue);
  text-decoration: none;
  transition: 0.2s;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px !important;
  left: 0;
  width: 100%;
  z-index: 99999999;
  position: relative;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--accent-blue) !important;
}

.swiper-container, .swiper-wrapper, .swiper-container-initialized,  .swiper-container-horizontal{
  margin-left: -20px !important;
  margin-right: -20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
/* End of Carousel Home */

.article-page .meta{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding-top: 20px;
  opacity: 0.9;
}

.article-page .meta .group{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.article-page .meta . group span{
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.article-page .meta .group .material-icons{
  color: var(--accent-blue);
  font-size: 18px;
  margin-right: 7px;
}

.article-page .meta .group #articleTags{
  display: flex;
  align-items: center;
}

.article-page .meta .group #articleTags div{
  margin-right: 20px;
}

.article-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-page #articleLogo img{
  max-height: 140px;
  margin-right: 20px;
}

.article-page .articleHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-404{
  max-width: 200px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#articlesBox ul{
  list-style: none;
  padding-left: 20px;
}

#articlesBox ul li:before{
  content: "";
  border-color: transparent var(--accent-blue);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.1em;
  position: relative;
}

#articlesBox ul li{
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-size: 18px;
}

#articlesBox .two-cols{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

#articlesBox .two-cols div{
  width: 50%;
  padding-right: 20px;
}

#articlesBox .two-cols div img{
  width: 100%;
}

#articlesBox .two-cols div iframe{
  width: 100%;
}

#articlesBox .two-cols.center div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#articlesBox h1{
  font-size: 30px;
  font-weight: 700;
  color: #15364f;
}

#articlesBox h2{
  font-size: 26px;
  font-weight: 700;
  color: #15364f;
}

#articlesBox h3{
  font-size: 24px;
  font-weight: 600;
  color: #15364f;
}

#articlesBox .primary-btn{
  display: inline-block;
  margin-top:15px;
  margin-bottom: 50px;
  color: white;
}


#articlesBox .primary-btn:hover{
  color: #1b1e21;
  transition: 0.2s;
}

.article-layout-row{
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 992px)
{
  .article-page{
    flex-direction: column;
  }

  .article-page .articleHeader h1{
    margin-top: 30px;
  }

  .article-page .meta{
    flex-direction: column;
    width: 100%;
  }

  .article-page .meta .group:last-child{
    display: none;
  }

  .article-page-content .main-section-content{
    text-align: left !important;
  }

  .article-page-content .main-section-content .separator{
    margin-left: 0;
  }
}



@media (min-width: 991px) AND (max-width: 1220px)
{
  .hide-on-tablet{
    display: none;
  }

  .main-section-image{
    padding: 30px;
  }
}

@media (min-width: 768px)
{
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media (max-width: 992px)
{

  .dropdown-menu{
    display: block !important;
    margin-left: 30px !important;
    border: 0px !important;
    box-shadow: none !important;
  }

  .product-box{
    color: white;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 70px;
  }

  .product-box h2{
    color: white;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
  }

  .product-box img{
    display: block;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
  }

  .product-box .separator-blue, .product-box .separator-orange{
    margin-left: auto;
    margin-right: auto;
  }

  .products-second-row{
    margin-top: 3em;
  }

  .meet-the-team-breadcrumb{
    background-position: center right;
  }

  .hide-on-mobile{
    display: none;
  }

  .navbar-collapse{
    position: fixed;
    background-color: #000000cf;
    width: 100%;
    color: white;
    z-index: 999;
    display: block;
    height: 100%;
    min-height: 100%;
    top: 0;
    bottom:0;
    left: 0;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 96%;
    background-color: #35a5e0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 4px;
  }

  #closeMobileMenu{
    position: absolute;
    top: 5%;
    right: 4%;
    width: 50px;
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #35a5e0;
  }

  #closeMobileMenu i{
    font-size: 40px;
  }

  #closeMobileMenu:hover{
    cursor: pointer;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  .nav-link{
    font-size: 28px !important;
    text-align: left;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .nav-item.primary-menu-btn{
    display: none;
    margin-left: 0px;
    margin-top: 25px;
  }

  .navbar-collapse .col-lg-3{
    margin-bottom: 30px;
  }

  .navbar-collapse .col-lg-3:last-child{
    margin-bottom: 0px;
  }

  .login-link a{
    color: white !important;
  }

  .slide-1-content{
    width: 100%;
    float: inherit;
    text-align: center;
    margin-top: 30px;
  }

  .slide-1-content .separator{
    margin-right: auto;
  }

  .second-row-icons-h-text{
    margin-top: 0px;
  }

  .main-section-content{
    text-align: center;
  }

  .main-section-content .separator{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section-image{
    margin-top: 50px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content-shadow-box{
    margin-bottom: 30px;
  }

  .mobile-col-margin{
    margin-bottom: 40px;
  }

  .left-img-show-on-mobile{
    display: block;
  }
}
/* Mobile View */

/* Big Screen View */
@media (min-width: 1360px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px;
  }
}
/* Big Screen View */

/* End of Accencio style */


/* Portal Styling */

.slide-1-content .primary-btn{
  margin-right: 30px;
}

.sign-in-container{
  padding-top: 80px;
  padding-bottom: 80px;
}

.breadcrumb-custom{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.sign-in-form-wrapper{
  padding: 30px;
  box-shadow: 0px 0px 16px 1px #0000000f;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small-label-notice{
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #c5c5c5 !important;
}

label{
  display: inline-block;
  color: #a4a4a4;
  margin-bottom: 5px !important;
}

/* End of Portal Styling */


.sub-header-user{
  background-color: #303031;
  color: white;
}

.sub-header-user-box{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.sub-header-user-box p{
  margin-bottom: 0px;
}

.workbooks-container .workbooks-selection{
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.workbooks-container .workbooks-selection .selection-box{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.workbooks-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkbox-workbooks{
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.checkbox-workbooks:hover{
  cursor: pointer;
}

.selection-box span{
  font-size: 18px;
  font-weight: 600;
}

.checkbox-workbooks img{
  height: 20px;
  width: 20px;
  opacity: 0;
}

.checkbox-workbooks.selected img {
  opacity: 1;
}

.workbooks-selection .selection-box{
  display: flex;
  align-items: center;
}

.workbooks-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workbooks-listing .workbook-box{
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 25px;
  box-shadow: 0px 0px 16px 1px #0000000f;
  flex-basis: 100%;
}

.workbook-box .featured-image{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workbook-box h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 5px !important;
}

.workbook-box .date{
  color: #00000059;
  font-size: 14px;
  font-style: italic;
}

.hidden{
  display: none !important;
}

.workbook-box .actions{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.workbook-box .actions .action-item{
  display: flex;
  align-items: center;
  margin-right: 7px;
  background-color: var(--accent-blue);
  color: white;
  padding: 4px 12px;
}

.workbook-box .actions .action-item:hover{
  cursor: pointer;
  background-color: #041324;
  transition: 0.2s;
}

.workbook-box .actions .action-item span{
  color: white;
  font-size: 16px;
  margin-right: 3px;
}

.workbook-box .actions .action-item p{
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin-bottom: 0px;
}

.workbook-box .workbook-header{
  display: flex;
}

.workbook-box .workbook-header .fav-icon{
  color: #3ab3e4;
  opacity: 1;
  margin-right: 5px;
}
