<div class="container-fluid breadcrumb-custom">
  <div class="container">
    <div class="row align-center">
      <div class="col-md-12">
        <h1>
          Sign in
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container sign-in-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="sign-in-form-wrapper">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input placeholder="Email Address" type="email" class="input-def" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #email>
            <small id="emailHelp" class="small-label-notice">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input placeholder="Password" type="password" class="input-def" id="exampleInputPassword1" placeholder="Password" #password>
          </div>
          <button type="button" class="primary-btn" (click)="signInToAWS(email, password)">Sign In</button>
        </div>

      </div>
    </div>
  </div>
</div>
