<header class="header">
</header>
<div class="container h-100">
  <div class="slide-1-content">
      <h1>
          SEE IP DIFFERENTLY
      </h1>
      <h3>
          Global data through an IP lens
      </h3>
      <div class="separator"></div>
      <p>
          Visual intelligence technology and strategy for molecular-based industry and research.
      </p>
      <a href="our-products.html" class="btn btn-primary">
          Learn More
      </a>
  </div>
</div>
<div class="all">
  <div class="col-4">
    <button type="button" class="btn btn-info" (click)="router.navigate(['signin'])">
      Sign in
    </button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-warning" (click)="router.navigate(['signup'])">
      Register
    </button>
  </div>
</div>
